# dependencies
node_modules/

# build outputs
.next/
out/
dist/

# staged electron-builder app dir (generated)
app/

# temp
.tmp/
tmp-asarextract/
tmp2/
__asar_tmp__/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
Thumbs.db
